*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
}
.box{
    width: 400px;
    height: 250px;
    margin: 150px auto;
    position: relative;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #262626, #000);
}
.box::before,
.box::after{
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    z-index: -1;
    animation: animate 20s linear infinite;
}
.box::before{
    filter: blur(15px);
}
@keyframes animate{
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
}